#h1{
  padding:0px 30px;
}

div{
  background-color: antiquewhite;
   text-align: center;
}



.user-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-top: 20px;
  text-align: center;
}

.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

label {
  margin-right: 10px;
  padding: 0px 30px;
  display: block;
  margin: 0px auto;
}

#input{
  margin: 10px 0px;
  padding: 10px 30px;
}

input {
  
  margin-right: 10px;
}

button {
  padding: 0px 30px;
  cursor: pointer;
  background-color:whitesmoke;
  display: block;
  margin: 0px auto;
}


@media screen and (max-width: 600px) {
  .user-card img {
    width: 80px;
    height: 80px;
  }
  
  input, button {
    display: block;
    width: 80%;
    margin-bottom: 10px;
  }
}


